<h1> wordle 2: electric boogaloo </h1>
<app-letter-grid></app-letter-grid>
<div class="entry">
    <input [(ngModel)]="guess" (keydown.enter)="makeGuess();" id="textEntry" type="text" id="textInput" maxlength="5" autocomplete="off"  onkeydown="return /[a-z]/i.test(event.key)">
    <button id="entryBtn" (click)="makeGuess();" [disabled]="guess.length < 5 || gameService.finished">Submit</button>
</div>

<app-win *ngIf="gameService.state == 'win'"></app-win>
<app-lose *ngIf="gameService.state == 'lose'"></app-lose>