div.letterBox{
    width: 5em; 
    height: 5em;
    background-color: rgba(70,70,70,100);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.letterBox p.letter{
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: white;
} 

div.green{
    background-color: rgb(84, 175, 30);
}

div.yellow{
    background-color: rgb(204, 207, 0);
}