.congratsStar{
    background-image: url('https://ih1.redbubble.net/image.5004084248.6864/bg,f8f8f8-flat,750x,075,f-pad,750x1000,f8f8f8.u4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
}